/* src/assets/css/ComparisonBarChart.css */
.bar-palestine {
    fill: #fc8d62;
  }
  
  .bar-europe {
    fill: #8da0cb;
  }
  
  .axis-label {
    font: 10px sans-serif;
  }
  
  .label-palestine,
  .label-europe {
    fill: white;
    text-anchor: start;
  }
  
  .legend-comparison text {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    fill: #fff; /* Change legend text color to white */
  }

  @media (max-width: 768px) {
    .axis-label {
      font: 8px sans-serif;
    }
  
    .legend-comparison text {
      font-size: 14px;
    }
  }